.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  background-color: blanchedalmond;
}

.list-container ul {
  background-color: ivory;
  margin: 0;
  padding: 0;
}

.list-container li {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  background-color: bisque;
  border: 1px solid burlywood;
  border-radius: 4px;
}

.list-container .placeholder li {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
